html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
@media (min-width: 600px) { .container { width: 85%; } }
@media (min-width: 992px) { .container { width: 70%; } }

.row {
    position: relative;
    width: 100%;
    margin: 0px auto 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .col {
    margin: 2px 1%;
    float: left;
    right: auto;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.row .center {
    display: inline-block;
    float: none;
}

.row .col.s1 { width: 6.33%; }
.row .col.s2 { width: 14.66%; }
.row .col.s3 { width: 23%; }
.row .col.s4 { width: 31.33%; }
.row .col.s5 { width: 39.66%; }
.row .col.s6 { width: 48%; }
.row .col.s7 { width: 56.33%; }
.row .col.s8 {width: 64.66%; }
.row .col.s9 { width: 73%; }
.row .col.s10 { width: 81.33%; }
.row .col.s11 { width: 89.66%; }
.row .col.s12 { width: 98%; }
@media (min-width: 600px) {
    .row .col.m1 { width: 6.33%; }
    .row .col.m2 { width: 14.66%; }
    .row .col.m3 { width: 23%; }
    .row .col.m4 { width: 31.33%; }
    .row .col.m5 { width: 39.66%; }
    .row .col.m6 { width: 48%; }
    .row .col.m7 { width: 56.33%; }
    .row .col.m8 { width: 46.67%; }
    .row .col.m9 { width: 73%; }
    .row .col.m10 { width: 81.33%; }
    .row .col.m11 { width: 89.66%; }
    .row .col.m12 { width: 98%; }
}
@media (min-width: 992px) {
    .row .col.l1 { width: 6.33%; }
    .row .col.l2 { width: 14.66%; }
    .row .col.l3 { width: 23%; }
    .row .col.l4 { width: 31.33%; }
    .row .col.l5 { width: 39.66%; }
    .row .col.l6 { width: 48%; }
    .row .col.l7 { width: 56.33%; }
    .row .col.l8 { width: 46.67%; }
    .row .col.l9 { width: 73%; }
    .row .col.l10 { width: 81.33%; }
    .row .col.l11 { width: 89.66%; }
    .row .col.l12 { width: 98%; }
}
@media (min-width: 1200px) {
    .row .col.xl1 { width: 6.33%; }
    .row .col.xl2 { width: 14.66%; }
    .row .col.xl3 { width: 23%; }
    .row .col.xl4 { width: 31.33%; }
    .row .col.xl5 { width: 39.66%; }
    .row .col.xl6 { width: 48%; }
    .row .col.xl7 { width: 56.33%; }
    .row .col.xl8 { width: 46.67%; }
    .row .col.xl9 { width: 73%; }
    .row .col.xl10 { width: 81.33%; }
    .row .col.xl11 { width: 89.66%; }
    .row .col.xl12 { width: 98%; }
}
